.widget-aare {
  background-color: #38c2f9;
  p {
    font-size: 76px;
  }
  div {
    background-image: url('/assets/wave-06.svg');
  background-repeat: repeat-x;
  background-position: 0px 0px;
  height: 20px;
  -webkit-animation: animatedBackground 15s linear infinite;
  animation: animatedBackground 15s linear infinite;
  bottom: 0;
  width: 100%;
  z-index: 0;
  }
}
@-webkit-keyframes animatedBackground {
    to {
      background-position-x: 276px;
    }
  }


